*{
    margin:0;
    box-sizing: border-box;
}
@keyframes slide-up2{
    0%{
        translate: 0 10vw ;
    }
    100%{
        translate:  0 0 ;
    }
}
@keyframes bottom-slide{
    0%{
        translate: 0 20vw ;
    }
    100%{
        translate:  0 0 ;
    }
}
@keyframes slide-right{
    0%{
        translate: 150vw ;
    }
    100%{
        translate:  0 0 ;
    }
}
@keyframes slide-up{
    0%{
        translate: 0 -150vw  ;
    }
    100%{
        translate:  0 0 ;
    }
}


@keyframes heading{
    0%{
        translate: -100% 0;
    }

    100%{
        translate: 0% 0;
    }
}
.rotate{
 width: 100%;
    transform: skewY(-556deg);
    position: absolute;
    top: -213px;
    height: 600px;
    z-index: -1;
    
}
.hero img{
    
  
    max-width: 250px;
    min-width: 150px;
}
.hero{
    position: relative;
   transform: scale(1.2);
   bottom: 2rem;
   border:1px solid transparent;
   transition: opacity 2s ease, border 1s ease;
    opacity: 0.9;
    animation: slide-up 2s;
    z-index: 2;
    


}
.main-container_top:hover .hero{
    opacity:1;
    border:1px solid white;


}


.hero h1{
    position: absolute;
    bottom: 2rem;
    color:white;
    text-align: center;
    /* animation: slide-right 1s ease 2s; */
}

.main-container_top{
    display: flex;
    width: 80%;
    margin:auto;
    padding-top:4rem;
    

}
.about{
   background-color: #053f5c;
  
    padding:2rem;
    padding-left: 5rem;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgba(255, 255, 255, 0.835);
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:2px solid transparent;
    opacity: 0.98;
    transition: opacity 0.2s ease 1s, border 1s ease, background-color 0.8s ease, color 1s ease-out;
    animation: slide-right 1s ease normal;
   
}
.about:hover{

    opacity: 1;
    border:2px solid whitesmoke;
  
}
.about p {
   min-width: 20ch;
   max-width: 80ch
   ;
   color:inherit;
}

.icons{
   display: flex;
  
   justify-content: left;
 
}
.icons i{
    padding: 5px;
    font-size: 1.5rem;
    transition: 0.5s ease-out;
    cursor:pointer;
    
}
.projects-container h1{
text-align: center ;


}

/********************* projects ****************************/
.projects-only{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:5rem;
    
}
.projects-container h1{
    animation: slide-up2 2s ease 25ms;
 
}
.project{
   min-width: 200px;
   width: 35%;
   max-width: 360px;
    border:2px solid #053f5c;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   overflow: hidden;
   color:rgba(255, 255, 255, 0.733);
   background-color: #053f5c;
   margin: 5px 1rem;
   animation: slide-up2 4s ease-in-out normal;
   animation-timeline: view();
   animation-range: entry-crossing 0% entry-crossing 50%;
   /* animation-range: entry; */
  
   animation-range: entry-crossing;

}
.project:hover{
    box-shadow: 2px 4px 20px rgb(155, 152, 152);
   
  
}
.project_image-container{

height: 300px;

 

}
.project_image-container img{
  width: 100%;
  height: 100%;
  


 

    
}
.project_detail-container{
    padding:1rem;
}


.project_detail-container_flex{
    padding:5px;
display: flex;
align-items: center;
justify-content: space-between;
gap:1rem;
color:#ff9100;
}
.project_detail-container_flex div:nth-child(1){
    cursor: pointer;
   
}
.project_detail-container_flex div:nth-child(1):hover{
    color:#ff6600;
 border-bottom: #ff9100 1px dotted;
    font-size: large;
}
.project_detail-container_flex i{
    font-size: 1rem;
}
/* .project_image-container:hover{
  width: 100%;
  height: auto;
} */
.project_detail-container p{
    margin:1rem 0;
}


/******************* contact **********************/
.contact-container{
    display: flex;
    justify-content: space-around;
   
    margin:auto;
    flex-wrap: wrap;
    margin-top:3rem;
    color:white;
    animation: bottom-slide 1s ease;
    animation-timeline: view();
  
    animation-range: entry-crossing 0% entry-crossing 50%;
    /* animation-range: entry; */
   
    animation-range: entry-crossing;
}
.contact-container_info h1{
    /* animation: heading 1s ease-in forwards; */
    animation: heading 1s ease-in-out;
    /* animation-timeline: view(); */
    animation-range-start: 100% cover;
    /* animation-range-end:  */
     /* animation-range: entry-crossing 0% entry-crossing 50%;
      */
}
.contact-container_info{
    display: flex
    ;
        flex-direction: column;
        gap: 1.2rem;
}
.contact-container_info i{
    color:rgba(245, 245, 245, 0.9)
}
.contact-container_image{
    max-width: 500px;
    min-width: 300px;
}
.contact-container_image img{
    width: 100%;
}

@media (max-width:880px){
    .rotate{
        transform: skewY(-572deg);
    }
}

@media(max-width: 900px ){
    .main-container_top{
        width: 100%;
        flex-wrap: wrap;
    }
    .rotate{
        transform: skewY(-576deg);
        
    }
    .project{
        width: 90%;
        margin:auto;
       
    }
    .hero{
        flex-basis: 30%;
        margin:auto;
        
    }
    .hero img{
        min-width: 100px;
        transform:scale(1);
        position: relative;
        bottom:-10px;
    }
    .hero h1{
        font-size: 1rem;
        margin-left:0.8rem;;
    }
    .about {
        padding:1rem;
        width: 100%;
        font-size: small;
        text-align: center;
       
    }
    .about-icon{
        margin:auto;
    }

    .contact-container_info{
        text-align: center;
        font-size: small;
    }
    .contact-container_info > div{
        margin:auto;
    }
}


/************** utilities ***********************/
.p1{
    padding: 3rem 0;
}
.m1{
    margin:4rem auto ;
}
.heading-font{
 font-size: 3rem;
}
.center{
    text-align: center;
}
.flex{
    display: flex;
gap:5px;
}
.background{
    background: #ff004d;
background: linear-gradient(207deg, rgba(255, 0, 77, 1) 0%, rgba(240, 150, 24, 1) 100%);
}
.md-font{
    font-size: 1.2rem;
}
.sm-font{
    font-size: 1.1rem;
}
.bg{
    background-color: #053f5c;
}
.white{
    color:white;
}
.icons i:hover{
    transform: scale(1.3);
    text-shadow: 2px 2px  7px rgb(255, 255, 255);
    
}